* {
    box-sizing: border-box;
}

    body{
        font-size:15px;

    }
}
a {
    color: black; /* Set the default color to black */
    text-decoration: none; /* Remove underline */
  }
  
  /* Change the color on hover */
  a:hover {
    color: black;
  }
  
  /* Change the color for visited links */
  a:visited {
    color: black;
  }
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    color: rgb(50, 50, 50);
    font-weight: 100;
    display: flex;
    overflow: hidden; 
}

.card{
    flex:1;
    overflow-y:auto;
    overflow-x: hidden; 
    padding-left:50px;
    padding-right:40px;
    padding-top: 40px;

}

.container {
    flex: 1;
    max-width: 100%; /* Set maximum width to 100% */
    display:flex;
}



.heading{
    font-weight:lighter;
    font-size:30px;
}
.h1{
    font-weight:lighter;
}


.line {
    width: 103%;
    height: 1px;
    background-color: rgb(49, 48, 48);
    margin-left: -10px;
}
li,p{
    font-size: 15px;
    font-weight:lighter;
}
.mprogram{
    height:120px;
    background-color:rgb(247, 245, 245);
    width:100%;
    border-radius:5px;
    padding-top:10px;
    padding-left:10px;
   
    font-family: 'Courier New', Courier, monospace;
    font-size:12.2px;
}
.h2{
    font-weight:lighter;
}
.program{
    background-color:rgb(247, 245, 245);

    height:80px;
    border-radius:5px;
    padding-top:10px;
    padding-left:10px;
   
    font-family: 'Courier New', Courier, monospace;
    font-size:12.2px;
}
.pa{
    background-color:rgb(247, 245, 245);
    width:80%;
    border-radius:5px;
    padding-top:20px;
    padding-left:10px;
    font-family: 'Courier New', Courier, monospace;
    font-size:12.2px;
    height:40px;
}
.side:not(h1) {
    font-size: 10px;
    white-space: nowrap;
    
}
.sidebar {
    width:23%;
    overflow-y: auto;
}
.side h1 {
    height: 6%;
    font-size:30px;
    margin-top:20px;
    white-space: nowrap;
    padding-right: 30px;
 
    
    
}
.side{
    margin-left:20px;
  
}
.sidebar, .card{
    overflow:auto;

}
